.dd-display-toggle{
	float: right
}

.dd-inline {
	display: inline;
}

#dd-display {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	position: fixed;
	bottom: 20px;
	left: 20px;
	padding: 5px;
	z-index: 100;
}


/* See: http://stackoverflow.com/questions/18077051/achieving-arrow-like-shapes-in-a-banner-in-css */

#dd-display a { /* Added this and moved much code to here */
	margin-left: 5px;
	position: relative;
	text-indent: 25px;
	text-decoration: none;
	background-color: #ddd;
	color: #222222;
	display: inline-block;
	/* Dirty IE Hack */
	/*  zoom: 1;
	*display: inline;*/

	/*margin-left: 30px;*/
	/*padding: 10px 10px 10px 30px;*/ /* tweaked this */
	text-align: center;
	line-height: 50px;
	padding-right: 15px;
}

#dd-display a:hover,
#dd-display a:focus {
	background-color: #bbb;
	outline: none;
}

#dd-display a:first-child {
	text-indent: 5px;
}

/*#dd-display a:first-child:after,*/
/* Right facing arrow to the right of an element */
#dd-display a span:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	left: 100%;
	border-top: 25px solid transparent;
	border-left: 5px solid #ddd;
	border-bottom: 25px solid transparent;
	margin: 0 40px 0 0;
}

#dd-display a:hover span:after {
	border-left-color: #bbb;
}

/* Right facing arrow to the left of an element */
#dd-display a:last-child span:before,
#dd-display a span:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	left: 0;
	border-top: 25px solid transparent;
	border-left: 5px solid #fff;
	border-bottom: 25px solid transparent;
	margin: 0 0px 0 0px;
}

#dd-display a:first-child {
	padding-left: 10px;
	margin-left: 0;
}

#dd-display a:first-child span:before,
/*#dd-display a:first-child span:after,*/
#dd-display a:last-child span:after{
	display: none;
}

#dd-display.expanded a:nth-child(2) span:before {
	display: none;
}

#dd-display a.extended {
	z-index: 2;
	background-image:
		linear-gradient(
			to right,
			#dddddd, #eee
		);
}

#dd-display a.extended span:after {
	border-left: 5px solid #eee;
}

#dd-display a.extended:hover {
	background-image: none;
}

#dd-display a.extended:hover span:after {
	border-left: 5px solid #bbb;
}

#dd-display a.extension {
	margin-left: -5px;

	background-image:
		linear-gradient(
			to right,
			#cccccc, #dddddd
		);
}

#dd-display a.extension:hover {
	background-image: none;
}

#dd-display a.extended.extension{
	margin-left: 0px;
	text-indent: 20px;
	z-index: 1;

	background-image:
		linear-gradient(
			to right,
			#cccccc, #eee
		);
}

#dd-display a.extended.extension span:before {
	display: none;
}

#dd-display a.extended.extension span:after {
	/*border-left: 5px solid #ddd;*/
}

#dd-display a.extended.extension:hover {
	background-image: none;
}

#dd-display a.extended.extension:hover span:after {
	border-left: 5px solid #bbb;
}

/*#dd-display a.extension:before {
	background-color: #dddddd;
}*/

#dd-display a.dd-reset {
	padding: 0 20px;
	text-indent: 0;
}

.dd-definition {
	position: relative;
}

.thmfdn-discovery.dd-current {
	/*border: 1px solid rgba( 0, 0, 0, 0.25 );*/

}

.dd-definition.dd-current:after{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 0;
	/*background: rgba( 0, 0, 0, 0.25 );*/
	border-top: 1px solid #cccccc;
	/*display: none;*/
}

/* Creates arrow for pointing to current element. */
.dd-definition.dd-current:before{
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;

	border-top: 6px solid #444444;
	content: '';
	position: absolute;
	left: 10px;
	/*	left: 50%;
	margin-left: -6px;*/
	top: 1px;

	/*	top: 0;
	bottom: 0;
	left: 0;
	width: 1px;
	background: rgba( 0, 0, 0, 0.25 );*/
	/*border: 1px solid rgba( 0, 0, 0, 0.25 );*/
	/*display: none;*/
}

.dd-definition.dd-current > .thmfdn-discovery-expand{
	background: #444444 url(info.png) no-repeat center center;
	/*border: 1px solid #333333;*/
	/*border-bottom-right-radius: 40px;*/
	/*display: none;*/
	color: #ffffff;
	display: block;
	position: absolute;
	text-align: left !important;
	text-decoration: none;
	z-index: 100;
	height: 32px;
	width: 32px;
	top: -31px;
/*	left: 50%;
	margin-left: -16px;*/
	padding: 0 10px;

}

body.dd-highlight .dd-definition.dd-current:after {
/*	-webkit-transition: height .1s;
	-moz-transition: height .1s;
	-ms-transition: height .1s;
	-o-transition: height .1s;
	transition: height .1s;*/

	height: 100%;
	/*bottom: 0;*/
	border: 1px solid #cccccc;
	z-index: 10;
	background-color: rgba( 204, 204, 204, 0.5)
}

body.dd-highlight .dd-definition.dd-current:before {
/*	z-index: 20;
	height: auto;
	width: auto;
	border: 0px solid #fff;
	content: '';
	position: absolute;
	top: 1px;
	bottom: 1px;
	right: 1px;
	left: 1px;
	background: transparent;*/
}

#dd-data h5 {
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
}

#dd-data table th {
	padding-right: 15px;
}

#dd-data th,
#dd-data td {
	border-top: 1px solid #dddddd;
	padding: 5px;
}

#dd-data table {
	border-bottom: 1px solid #dddddd;
	margin-bottom: 0;
	width: 100%;
}

body {
	overflow-y: scroll !important;
}

